OPENAI_SECRET_KEY = 'secret_key'

# Twitter
TWITTER_CONFIG = {
    'API_KEY': "api key"
    'API_KEY_SECRET': 'api key secret',
    'ACCESS_TOKEN': "access token',
    'ACCESS_TOKEN_SECRET': 'access token secret',
}
